body {
    background-color:lightblue;
}

h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: darkblue;
}

p {
    font-weight: 300;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.titulo-generales {
    color: darkblue;
    font-family: cursive;
    font-weight: 400;
    font-size: 28px;
}

.menues-principales {
    text-align: center;
    color: #333;
    font-family: cursive;
    font-size: 18px;
    font-weight: 300;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
}

.menu li a:hover {
    background-color: rgb(62, 62, 193);
    color: black;
}

.logo-1 {
    margin: 10px;
}

.logo-1 img {
    height: 50px;
    width: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscador {
    margin-left: 20px;
}

.imagen-1, .imagen-2, .imagen-3, .imagen-4, .imagen-5 .img {
    width: 450px;
    height: 450px;
}

.imagen-2{
    border: 2px solid black;
}

video {
    width: 560px;
    height: 560px;
    margin-left: 20px;
}

.txt {
    text-align: right;
    font-family: fantasy;
}

.txt-1 {
    margin: 10px;
    text-align: left;
    font-family: fantasy;
    transform: translateY(50px);
}

.textos-tienda {
    font-family: cursive;
    font-size: 21px;
    color: black;
    font-weight: 300;
}

nav ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    position: relative;
}

nav li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightgray;
    padding: 0;
    margin: 0;
    z-index: 1000;
    border: 1px solid #ccc;
}

nav li:hover .submenu {
    display: block;
}

nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav li .submenu a {
    padding: 8px;
    color: black;
    border-bottom: 1px solid #ccc;
}

nav li .submenu a:last-child {
    border-bottom: none;
}

nav li .submenu a:hover {
    background-color: gray;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 40px;
    color: rgb(133, 133, 133);
    cursor: pointer;
    transition: color 0.3s;
}

.rating label::before {
    content: '★';
}

.rating input:checked ~ label {
    color: rgb(255, 162, 0);
}

.rating label:hover,
.rating label:hover ~ label {
    color: rgb(255, 162, 0);
}

.buscador {
    padding: 20px; 
    margin: 10px auto; 
    border: 2px solid black; 
    max-width: 1200px; 
    box-sizing: border-box; 
    background-color: lightseagreen;
    font-family: fantasy;
    text-align: center;
    color: black;
}


.buscador {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.buscador label {
    font-weight: bold;
}

.buscador input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.buscador button {
    padding: 10px 20px;
    background-color: lightsteelblue;
    color:lightgray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.buscador button:hover {
    background-color: #0056b3; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightseagreen; 
    padding: 1rem;
    border: 2px solid black;
    color:black
}

.menues-principales {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex; 
    gap: 10rem; 
    list-style: none; 
    color: black;
}

.menu li a {
    color: white; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    transition: background-color 0.3s; 
}

.menu li a:hover {
    background-color: #0056b3; 
    border-radius: 5px; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color:lightseagreen; 
    color: #fff;
    padding: 1px; 
    text-align: center; 
    font-size: 0.9rem; 
}

footer p {
    margin-bottom: 1px; 
}


.redes-sociales {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 0.5rem; 
}


.redes-sociales a {
    color: #00acee; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.redes-sociales a:hover {
    color: #007bb5; 
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 80px;
    width: calc(100% + 40px); 
    max-width: none;
    margin-left: 5px;    
    margin-right: 5px;   
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 
.titles {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 30px;
  }
  
  
  .txt-1, .txt {
    color: #333;
    text-align: center;
    margin: 0;
  }
  
  .txt-1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .txt {
    font-size: 18px;
    color: black;
    margin-left: 250px;
    padding-top: 120px; 
    padding-bottom: 20px; 
} 

.textos-descrip{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: black;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

  .media {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 500px; 
  }
  

.imagen-1{
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin-left: -220px;  
} 

  .video1 {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px; 
  }


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color:lightslategray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.imagen-4 {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}


.btn-compra {
    padding: 10px 20px;
    background-color: lightsteelblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-compra:hover {
    background-color: #0056b3;
    color: white;
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr; 
    }
}

.btn-compra {
    padding: 10px 20px;
    background-color: lightsteelblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-compra:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
}

form {
    background-color: lightslategray; 
    border: 2px solid black; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #333333; 
    font-size: 24px;
    margin-bottom: 20px;
}


.form-floating .form-control {
    background-color: lightslategray; 
    border: 1px solid black; 
    color: black; 
}

.form-floating .form-control:focus {
    background-color: #f5f5f5; 
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}


.form-floating label {
    color: #666666; 
    font-weight: bold;
}

button [type="submit"] {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}


.mb-3 {
    margin-bottom: 15px;
}


form {
    border: 1px solid #007bff;
}

.carousel {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    gap: 600px;
  }
  
  .imagen-6 {
    width: 600px;
    height: 700px; 
    border: 2px solid black; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin: 10px 0; 
  }
  
  .carousel-control-prev,
.carousel-control-next {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
  z-index: 10; 
}

.carousel-control-prev {
  left: 10px; 
}

.carousel-control-next {
  right: 10px; 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}
  
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px; 
    height: 20px;
  }
  
  @media (max-width: 768px) {
    .imagen-6 {
      max-width: 100%; 
    }
  
    .carousel {
      padding: 10px; 
    }
    .carousel-control-prev,
    .carousel-control-next {
      width: 40px;
      height: 40px;
    }
  }

.accordion-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: stretch; 
    padding: 20px;
    margin: 20px auto; 
    border: 2px solid #000000; 
    border-radius: 10px; 
    max-width: 600px; 
    background-color: lightgray; 
  }
  
  .accordion-item {
    margin-bottom: 10px; 
  }
  .accordion-button {
    padding: 15px; 
    font-size: 16px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  .accordion-button:hover {
    background-color: lightgrey; 
  }
  
  .accordion-body {
    padding: 15px; 
    background-color: lightgray; 
    border: 1px solid white; 
    border-radius: 5px; 
    font-size: 14px; 
  }
  
  .accordion-body a {
    color: rgb(55, 0, 255);
    text-decoration: none;
  }
  
  .accordion-body a:hover {
    text-decoration: underline;
  }
  
.title, .title-1 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.8rem;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;

  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
  }

  .map, .comments {
    flex: 1;
    min-width: 300px; 
    box-sizing: border-box; 
    margin: 20px 0; 
    padding: 20px; 
    border: 1px solid lightgray; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: lightcyan; 
  }
  
  .map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 5px; 
  }
  
  .comments form {
    display: flex;
    flex-direction: column;
  }
  
  .form-floating {
    margin-bottom: 15px;
  }
  
  input.form-control,
  textarea.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  label {
    font-weight: bold;
    margin-top: 5px;
  }
  
  button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
 
  .card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: lightblue; 
}

  .card {
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
    background-color: white; 
  }
  
  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .card-img-top {
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border: 2px solid black;
  }
  
  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #6c757d;
    flex-grow: 1; 
  }
  
  .card-footer {
    padding: 10px;
    font-size: 0.8rem;
    background-color: #f8f9fa; 
    text-align: right;
    border-top: 1px solid #dee2e6;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-items: center; 
  padding: 20px; 
}

.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px lightgrey; 
  border-radius: 8px; 
  border: 2px solid black; 
  background-color: whitesmoke; 
}

.card-body {
  width: 100%; 
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

video {
  max-width: 100%; 
  margin-bottom: 10px; 
  border: 1px solid black; 
  border-radius: 4px; 
}


