.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightblue;

  // Responsividad para tablet
  @media (max-width: 768px) {
    padding: 15px; // Reduce el padding en tablet
    gap: 15px; // Menor espacio entre tarjetas
  }

  // Responsividad para móvil
  @media (max-width: 480px) {
    grid-template-columns: 1fr; // Una sola columna en dispositivos pequeños
    padding: 10px; // Reduce el padding para dispositivos pequeños
    gap: 10px; // Ajusta el espacio entre tarjetas
  }

  // Responsividad para desktop
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); // Más columnas en pantallas grandes
    padding: 40px; // Más espacio alrededor
    gap: 30px; // Incrementa el espacio entre tarjetas
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: white;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  &-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 2px solid black;

    // Ajusta el tamaño de la imagen en pantallas pequeñas
    @media (max-width: 480px) {
      height: 150px;
    }
  }

  &-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Ajusta el padding en pantallas pequeñas
    @media (max-width: 480px) {
      padding: 10px;
    }
  }

  &-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;

    // Reduce el tamaño de la fuente en dispositivos pequeños
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &-text {
    font-size: 0.9rem;
    color: #6c757d;
    flex-grow: 1;

    // Ajusta el tamaño de fuente en dispositivos pequeños
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }

  &-footer {
    padding: 10px;
    font-size: 0.8rem;
    background-color: #f8f9fa;
    text-align: right;
    border-top: 1px solid #dee2e6;

    // Ajusta el padding en pantallas pequeñas
    @media (max-width: 480px) {
      padding: 8px;
      font-size: 0.7rem; // Reduce el tamaño de fuente en móviles
    }
  }
}

.imagen-2 {
  border: 2px solid black;

  // Opcional: Ajusta el tamaño de la imagen para pantallas pequeñas
  @media (max-width: 480px) {
    border-width: 1px; // Reduce el grosor del borde
  }
}
