@use './variables' as vars;
@use '../partials/mixin';

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  gap: 600px;

  @include mixin.box-shadow();

  // Responsividad para tablet
  @media (max-width: 768px) {
    padding: 15px;
    gap: 300px; // Reduce el espacio entre elementos
  }

  // Responsividad para móvil
  @media (max-width: 480px) {
    padding: 10px;
    gap: 200px; // Reduce aún más el espacio
  }
}

.imagen-6 {
  width: 600px;
  height: 700px;
  border: 2px solid black;
  border-radius: vars.$border-radius;
  margin: 10px 0;

  @include mixin.box-shadow(0 4px 6px rgba(0, 0, 0, 0.2));

  // Responsividad para tablet
  @media (max-width: 768px) {
    width: 100%; // Escala al ancho del contenedor
    height: auto; // Permite altura dinámica
  }

  // Responsividad para móvil
  @media (max-width: 480px) {
    width: 100%; // Escala completamente en móviles
    height: auto;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 10;

  &.carousel-control-prev {
    left: 10px;
  }

  &.carousel-control-next {
    right: 10px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }

  // Responsividad para tablet
  @media (max-width: 768px) {
    width: 40px;
    height: 40px;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 16px; // Reduce el tamaño de los iconos
      height: 16px;
    }
  }

  // Responsividad para móvil
  @media (max-width: 480px) {
    width: 30px;
    height: 30px;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 12px;
      height: 12px; // Más pequeños para móviles
    }
  }
}

