footer {
  background: radial-gradient(circle, rgb(228, 228, 228), rgb(133, 133, 133));
  color: #fff;
  padding: 1rem; // Cambiado a "1rem" para consistencia en el uso de unidades modernas.
  text-align: center;
  font-size: 0.9rem;

  p {
    margin-bottom: 0.5rem; // Cambiado para dar un poco más de espacio entre los párrafos.
  }
}

.redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; // Incrementado para dar un poco más de separación entre elementos.
}

  