@use './variables' as vars;
@use '../partials/mixin' as mixins;

header {
  @include mixins.flex-center(row, 1rem);
  background-color: vars.$primary-color;
  padding: 1rem;
  border-radius: vars.$border-radius;

  .logo {
    img {
      height: 50px;
      width: auto;
    }
  }

  .menu {
    @include mixins.flex-center(row, 2rem);
    list-style: none;
    padding: 0;

    li {
      a {
        color: vars.$text-color;
        text-decoration: none;

        @include mixins.transition(color);

        &:hover {
          color: vars.$hover-color;
        }
      }
    }
  }

  // Responsividad
  @media (max-width: 1024px) { // Tablet y menor
    .menu {
      @include mixins.flex-center(column, 1rem); // Cambia el diseño a columna
    }

    li {
      a {
        font-size: 1rem; // Ajusta el tamaño de fuente para tablets
      }
    }
  }

  @media (max-width: 768px) { // Mobile
    padding: 0.5rem;

    .logo {
      img {
        height: 40px; // Reduce el tamaño del logo
      }
    }

    .menu {
      @include mixins.flex-center(column, 0.5rem);
    }

    li {
      a {
        font-size: 0.9rem; // Fuente más pequeña para móviles
      }
    }
  }
}


