// Variables de colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$hover-color: #1abc9c;
$text-color: #333;
$background-gray: #f9f9f9;
$black: #000;

// Tipografía
$font-primary: "Arial", sans-serif;
$font-secondary: "Oswald", sans-serif;
$heading-font-size: 2rem;
$base-font-size: 1rem;

// Otros
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.2);
$border-radius: 4px;
$font-main: "Arial", sans-serif; // Agrega esta línea al archivo variables.scss
$transition-time: 0.3s;

// partials/_variables.scss
$color-gray: rgb(133, 133, 133);
$color-orange: rgb(255, 162, 0);
$rating-font-size: 40px;
